body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif; 
    /* padding: 0px 15px; */
    /* background-size: 100%;
    background-repeat: no-repeat; */
    /* background-attachment: fixed; */


}

/* Header (Logo & Navbar)   */
header {
    display: flex;
    justify-content: space-between  ;
    background-color: white;
    width: 100%;
    height: 121px;
    border: 1px solid black;
    z-index: 1;
    position: fixed;
    /* padding: 0px 25px 0px 25px; */
    /* position: absolute; */

}

/* Navbar NETCEL Web Logo  */
.logo {
    height: 86px;
    width: 128px;
    margin :15px 30px;
    position: relative;
    left: 25px;   
}

/* Nav Items  */
nav {
    /* border: red 2px solid; */
    align-self: center;
    position: relative;
    right: 25px;
}

/* Nav items ul list styling */
ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* Individual List Item styling */

li {
    padding: 30px 18px;
}

li a {
    text-decoration: none;
    color: dimgray;
    font-size: 15px;
}

/* First Section Styling  */
.sec1 {
    background-image: linear-gradient(to bottom, black, transparent, transparent), url("images/netcel-hero.jpg");
    /* background-position: center; */
    background-size: 100%;
    background-repeat: no-repeat;
    height: 630px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 40px 30px 0px 30px;
    border-left: white 5px solid;
    border-right: white 5px solid;
    background-color: white;
    /* To add gap between header and section */
    top: 123px;
    position: relative;
}

.head1 {
    font-weight: 300;
    font-size: 60px;
    line-height: 66px;
    margin-bottom: 25px;

}

h3 {
    font-weight: 300;
    font-size: 30px;
    line-height: 33px;
    width: 60%;
    margin-top: 0px;
    margin-bottom: 50px;
}

.cards {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    color: white;
}

.cards div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 60px ;
    height: 430px;
}

.cards div h2 {
    font-size: 35px;
    font-weight: 300;
    width: 70%;
    margin-top: 0px;
}

.cards div p {
    font-size: 20px;
    font-weight: 300;
    width: 300px;
    margin: 0px;

}

#blue{
    background-color: #385D77;
}
#pink{
    background-color: #ED1556
}
#green{
    background-color: #00947E;
}

.blank_div {
    height: 170px;
    /* background-color: white; */
    /* position: relative; */
    /* bottom: 170px; */
}

/* Our Principal partner main section */
.sec2 {
        background-color: #f3f3f3;
        height: 619px;
        /* display: flex;
        flex-direction: column; */
        /* justify-content: space-evenly;
        align-items: center; */
        position: relative;
        top: 300px;
}

/* Our Principal partner main div */
.sec2-main-div {
    height: 554px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
/* Our principal partners heading */
.sec2 h1 {
    font-size: 40px;
    font-weight: 300;
    line-height: 40px;
    color: dimgray;
}

/* Partner Image and paragraph */
.partners {
    width: 970px;
    height: 434px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

.partners div {
    display: flex;
    justify-content: center;
}

/* Our principal partners heading */
.partners div img {
    width: 400px;
    height: 94px;
    margin: 0px 10px;
}

.partners p {
    width: 850px;
    font-size: 24px;
    font-weight: 300;
    height: 160px;
    color: dimgray;
    /* margin: 20px 0px 0px 0px; */
}


/* Our Work Deliver Results Start*/
.sec3 {
    background-color: white;
    height: 662px;
    position: relative;
    top: 300px;
    border: 2px solid orange;
}

/* Our Work Deliver Results main div */
.sec3-main-div {
    height: 597px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    border: 2px solid green;


}

/* Our Work Deliver Results heading */
.sec3 h1{
    font-size: 40px;
    font-weight: 300;
    line-height: 40px;
    color: dimgray;
}

/* 3 card section */
.sec3-cards {
    display: flex;
    justify-content: space-around;
    border: black 2px solid;
    width: 100%;
    font-size: 20px;
}

/* Card Styling  */
.card {
    width: 406px;
}

.card img {
    height: 259px;
    width: 406px;
}

.card h2 {
}

.card p {

}





